@import './../../public/fonts/font.css';
@import "tailwindcss";
@source "../views";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body{

    font-family: IRANYekanX, sans-serif;
}

.nav-active {
    @apply bg-teal-700 font-bold text-gray-200 ;
}

#sidebar {
    transition: transform 0.3s ease;
}

/* Hide sidebar by default on small screens */
@media (max-width: 768px) {
    #sidebar {
        transform: translateX(-100%); /* Hide sidebar */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
    }
    #sidebar.active {
        transform: translateX(0); /* Show sidebar */
    }
}
